
.timer {
  height: 50px;
  width: 200px;
  float: left;
  font-weight: bold;
  font-size: 50px;
  text-align: center;

}

.relax, .work {
  height: 50px;
  width: 100px;
  float: left;
  font-weight: bold;
  font-size: 30px;
}

.relax a, .relax div, .work a, .work div{
  float: left;
  padding: 5px;
  margin-top: 10px;
}
