#timer {
  text-align: center;
  font-size: 60px;
  width: 200px;
  height: 70px;
  border: 1px solid black;
  margin: auto;
}


.pomodoroContainer{
	width: 200px;
	height: 25px;
	margin: auto;
	padding: 20px;


}


